<form class="login-form">
    <h2>Login</h2>
        <div class="form-contents">
            <div>
                <label class="text" for="email-login" >Username</label>
                <input type="text" id="email-login" placeholder="Your Username" required/>
            </div>
            <div>
                <label class="text" for="password-login">Password</label>
                <input type="password" id="password-login" placeholder="Your Password" required/>
            </div>
            <div>
                <button id="login" type="submit">Login</button>
            </div>
            <div>
                <a href="/signup" class="text" id="signup-instead">Create an account</a>
            </div>
        </div>
</form>
<script src="../assets/scripts/login.js"></script>