<form class="signup-form">
    <h2>Create New Account</h2>
        <div class="form-contents">
            <div>
                <label class="text" for="username-signup">New Username</label>
                <input type="text" id="username-signup" placeholder="New Username" required />
            </div>
            <div>
                <label class="text" for="email-signup">Your Email</label>
                <input type="text" id="email-signup" placeholder="Your Email" required />
            </div>
            <div>
                <label class="text" for="password-signup">New Password</label>
                <input type="password" id="password-signup" placeholder="New Password" required />
            </div>
            <div>
                <button type="submit" id="signup">Create Account</button>
            </div>
            <div>
                <a href="/login" class="text" id="login-instead">
                Login
                </a>
            </div>
        </div>
</form>
<script src="../assets/scripts/signup.js"></script>